html, body {
	font-family:Verdana,sans-serif;
	font-size:0.9em;
	line-height:1.5;
}
legend {
	font-weight: bold;
}
#header {
	font-size:1.5em;
	padding-left: 30px;
	background: url("../icons/tab-image-saver-v2@24.png") no-repeat
}
#container {
	padding-left: 2em;
	padding-right: 2em;
}
#content {
}
